* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.myDark {
  background-color: black;
  color: white;
}
#calc {
  position: relative;
  background-color: rgba(148, 5, 148, 0.838);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* text-align: center; */
}
.calc_title {
  margin-top: 2rem;
  text-align: center;
}
.calc_title span {
  font-size: 40px;
  font-style: bold;
  /* background-color: rebeccapurple; */
}
.calc_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 30%;
  height: 80vh;
  border-radius: 30px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.138);
}
/* */
.calc_io {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  margin-top: 3rem;
  /* border-radius: 40px; */
}
.calc_io input {
  width: 80%;
  height: 100%;
  border-radius: 40px;
  border: none;
  box-shadow: -5px -5px 15px rgba(201, 197, 197, 0.237);
  box-shadow: 5px 5px 15px rgba(201, 197, 197, 0.733);
  font-size: 20px;
  text-align: end;
  padding-right: 10%;
}

.calc_numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 5%;
  column-gap: 1%;
  width: 70%;
  height: 65%;
  margin-top: 3rem;
}
.plus{
    grid-column:5;
}
.equals
{
    grid-column: 5;
}
.calc_numbers button {
  width: 40px;
  height: 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.138);
  transition: 0.3s ease;
  font-size: 20px;
}
.calc_numbers button:last-child(11) {
  width: 60px;
}
.calc_numbers button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.416);
}

@media only screen and (max-width: 600px) {
    .calc_container {
      /* background-color: #230303; */
      width: 90%; /* Adjust width for smaller screens if needed */
      /* height: auto; Adjust height if needed */
    }
  }
  @media only screen and (max-width: 1200px){
    .calc_container{
        width: 60%;
    }
  }
  @media only screen and (max-width: 750px){
    .calc_container{
        width: 70%;
    }
  }
  @media only screen and (max-width:450px){
    .calc_container{
        width: 95%;
    }
  }

